{% extends 'main.html' %}

{% block content %}

<style>
    .main-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="main-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a><br>
        </div>
        {% for topic in topics %}

            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a><br>
        
        {% endfor %}
    </div>


    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="url 'create-room' ">Create Room</a><hr>
        {% for room in rooms %}
        <div>
            <a href="{% url 'update-room' room.id %}">Update Room</a><br>
            <a href="{% url 'delete-room' room.id %}">Delete Room</a><br>
            @{{room.host.username}} <br> <br>
            {{room.id}} --- <a href="{% url 'room' room.id %}">{{room.name}}</a> <br> <br>
            <small>{{room.topic.name}}</small>
            <hr>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock content %}