{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="post" action="">
        {% csrf_token %}

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <!-- <li style="color: red;">{{ message }}</li> -->
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
        </u>
        {% endif %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username">
        
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password">

        <input type="submit" value="login">

        <p>Not a user? SignUp here</p>
        <a href="{% url 'register' %}">SignUp</a>
    </form>
</div>

{% else %}
<div>
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Regisiter">
        <p>Already a user? SignIn here</p>
        <a href="{% url 'login' %}">SignIn</a>
    </form>
</div>

{% endif %}
{% endblock content %}