{% extends 'main.html' %} {% block content %}
<h1>{{room.name}}</h1>

<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="room-container">
  <div>
    <hr />
    <h2>Description</h2>
    <p>{{room.description}}</p>
    <hr />
    <h2>Comments</h2>
    <hr />
    {% for message in room_messages %}
    <div>
      <small>@{{message.user}} {{message.created|timesince}} ago</small>
      <p>{{message.body}}</p>
      <!-- added by me -->
      {% if request.user == message.user %}
      <a href="{% url 'delete-room-comment' room.id message.id %}"
        >Delete comment</a
      >
      {% endif %}
      <!-- ends here -->
      <hr />
    </div>
    {% endfor %}
  </div>

  <div>
    <h3>Participants</h3>
    <hr />
    {% for participant in participants %}
    <div>
      <p>@{{participant.username}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
  <form method="post" action="">
    {% csrf_token %}
    <input type="text" name="body" placeholder="write your message here..." />
  </form>
</div>
{% endif %} {% endblock content %}
